{% extends 'base.html' %}
{% load static %}

{% block head %}
<title> Portal Pracy </title>
{% endblock %}

{% block body %}
<div class="row">

  <div class="col-md-6" id="Filter Offerts">
    <div>
      <h3>Filter Offerts</h3> <br>
      <form method="GET">
        <!-- position -->
        <div class="form-row">
          <div class="form-group col-8 ">
            <div class="input-group">
              <input class="form-control py-2 border" type="search" name="position_name" placeholder="Position name contains...">

            </div>
          </div>
        </div>

        <!-- location -->
        <div class="form-row">
          <div class="form-group col-8">
            <div class="input-group">
              <input class="form-control py-2 border" type="search" name="location_name" placeholder="Location name contains...">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3 col-lg-4 ">
            <label for="publishDateMin">Min. publish date</label>
            <input type="date" class="form-control" id="publishDateMin" name="pub_date_min" >
          </div>

          <div class="form-group col-md-3 col-lg-4">
            <label for="publishDateMax">Max. publish date</label>
            <input type="date" class="form-control" id="publishDateMax" name="pub_date_max" >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2 col-lg-4">
            <label for="payMin">Minimum pay</label>
            <input type="number" min=0 class="form-control" id="payMin" name='pay_min' placeholder="0">
          </div>

          <div class="form-group col-md-4">
            <label for="tags">Tag (must have)</label>
            <select id="tags" class="form-control" name=tags>
              <option selected>Choose...</option>
              {% for tag in tag_set %}
              <option value="{{tag.name}}">{{tag.name}}</option>
              {% endfor %}
            </select>
          </div>

        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="hourCheck">
          <label class="form-check-label" for="hourCheck">
            Per hour
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="remoteCheck">
          <label class="form-check-label" for="remoteCheck">
            Remote
          </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
  <div class="col-md-6" id="Matched Offerts">
    {% if queryset %}
    <h3>Offerts that match criterias:</h3> <hr>
    {% for offert in queryset %}
    <article class="media content-section">
      <img class="article-img" src="{{offert.agency.company.logo.url}}" alt="logo">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href='#'>{{ offert.agency.company.name }}</a>
          <small class="text-muted">{{offert.publication_date}}</small>
        </div>
        <h1><a class="article-title">{{ offert.position }}</a></h1>
        <hr>
        <p class="article-content"><strong>Location:</strong> <br> {{ offert.agency.country }}, {{offert.agency.location }}</p>
        <p class="article-content"><strong>Salary:</strong> <br> {{offert.min_salary}}-{{offert.max_salary}} zl  {{ offert.get_salary_type_display }}</p>

        <strong>Must have:</strong>
        <ul>
          {% for tag in offert.must_have.all %}
          <li>{{tag}}</li>
          {% endfor %}
        </ul><br>

        <p class="article-content"><strong>Remote:</strong> <br> {{offert.remote}}</p>

        <a href="{% url 'offerts:offert_details' offert.id %}"><button type="button" class="btn btn-outline-primary">Find out more</button></a>
        <a  href="{% url 'offerts:apply' offert.id %}"><button type="button" class="btn btn-outline-success">APPLY</button></a>
        <div>
        </article>
        {% endfor %}

        {% else %}
        <h3>No offerts found.</h3>
        {% endif %}
      </div>
    </div>
    {% endblock %}
