{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title> Portal Pracy </title>
{% endblock %}

{% block body %}
<h3>Write possible answers for your question.</h3>
<hr>
<form method="POST" novalidate>
  {% csrf_token %}
  <fieldset class="form-group">
      <legend class="border-bottom mb-4">Apply for a job:</legend>
      {{ form|crispy }}
  </fieldset>

  <br>
  <a href="#"><button type="button" class="btn btn-danger mb-5">Cancel</button></a>
  <button type="submit" class="btn btn-success mb-5">Submit</button>
</form>
{% endblock %}
