{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title> Portal Pracy </title>
{% endblock %}

{% block body %}
<h3>Write possible answers for your question.</h3>
<a href="{% url 'manager:manager-my' user.username %}"><button type="button" class="btn btn-success mb-2">Skip this step</button></a>
<hr>
<form method="POST" novalidate>
  {% csrf_token %}
  {% for i in range({{ question_count }}) %}
  <div class="form-group">
    <br>
    {{ form.question|as_crispy_field }}
  </div>
  {% endfor %}

  <div class="form-group">
    {{ form.answer_type|as_crispy_field }}
    <small id="emailHelp" class="form-text text-muted">Choose the type of answer you would like to get.</small>
    <br>
  </div>
  <div class="form-group">
    {{ form.answer_count|as_crispy_field }}
    <small id="emailHelp" class="form-text text-muted">How many possible answers want you to add? (Only for single-choice or multiple-choice answer types)</small>
    <br>
    <button type="submit" class="btn btn-primary">Add question</button>
  </div>
</form>
<hr>

<h4>Your Form:</h4>
<ol>
  {% for question in questions %}
  <li><p>{{ question.question }}</p></li>
  {% endfor %}
</ol>
{% endblock %}
