{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title> Portal Pracy </title>
{% endblock %}

{% block body %}

<main role="main" class="container">

  <h3>Apply for the job:</h3> <br>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-8 col-lg-6">
        {{form|crispy}}
      </div>

    </div>
    <h4>Additional questions from employer:</h4> <br>
    <ol>
      {% for question in questions %}
      <li><p>{{ question.question }}</p></li>
      {% if question.answer_type == 'T' %}
      <input type="text" name="{{question.question}}"/>
      <br><br>
      {% endif %}

      {% if question.answer_type == 'R' %}
      <div>
        {% for answer in question.get_answers %}
        <input type="radio" name="{{question.question}} {{answer}}"/>
        {{answer}}
        {% endfor %}
      </div>
      <br><br>
      {% endif %}

      {% if question.answer_type == 'C' %}
      <div>
      <ul>
        {% for answer in question.get_answers %}
        <input type="checkbox" name="{{question.question}} {{answer}}"/>
        {{answer}}
        {% endfor %}
      </ul>
      </div>
      <br><br>
      {% endif %}
      {% endfor %}
    </ol>
    <br>
    <button type="submit" class="btn btn-primary mb-5">Apply</button>
  </form>



  {% endblock %}
