{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title> Portal Pracy </title>
{% endblock %}

{% block body %}
<h3>Create application form for your offert. </h3>
<a href="{% url 'manager:manager-my' user.username %}"><button type="button" class="btn btn-secondary mb-2">Skip this step</button></a>
<hr>
<form method="POST" novalidate>
  {% csrf_token %}
  <div class="form-group">
    <br>
    {{ form.question|as_crispy_field }}
    <small id="questionHelp" class="form-text text-muted">Write what you want kind of information you would like to receive from candidate.</small>
  </div>
  <div class="form-group">
    {{ form.answer_type|as_crispy_field }}
    <small id="emailHelp" class="form-text text-muted">Choose the type of answer you would like to get.</small>
    <br>
  </div>
  <div class="form-group">
    {{ form.answer_count|as_crispy_field }}
    <small id="emailHelp" class="form-text text-muted">How many possible answers want you to add? (Only for single-choice or multiple-choice answer types)</small>
    <br>
    <button type="submit" class="btn btn-primary">Add question</button>
  </div>
</form>

<hr>

<h4>Your Form:</h4> <br>
<ol>
  {% for question in questions %}
  <li><p>{{ question.question }}</p></li>
  {% if question.answer_type == 'T' %}
  <input type="text"/>
  <br><br>
  {% endif %}

  {% if question.answer_type == 'R' %}
    {% for answer in question.get_answers %}
    <input type="radio" name="answer"/>
    {{answer}}
    {% endfor %}
  <br><br>
  {% endif %}

  {% if question.answer_type == 'C' %}
  <ul>
    {% for answer in question.get_answers %}
    <input type="checkbox" name="answer"/>
    {{answer}}
    {% endfor %}
  </ul>
  <br><br>
  {% endif %}
  {% endfor %}
</ol>
<a href="{% url 'manager:manager-my' user.username %}"><button type="submit" class="btn btn-success">Create my form</button></a>
<br>
<br>
{% endblock %}
