{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title> Portal Pracy </title>
{% endblock %}

{% block body %}
<h3>Create application form for your offert. </h3>
<a href="{% url 'manager:manager-my' user.username %}"><button type="button" class="btn btn-success mb-2">Skip this step</button></a>
<hr>
<form method="POST" novalidate>
  {% csrf_token %}
  <div class="form-group">
    <br>
    {{ form.question|as_crispy_field }}
    <small id="emailHelp" class="form-text text-muted">Write what you want kind of information you would like to receive from candidate.</small>
  </div>

  <div class="form-row">
    <div class="form-group">
      {{ form.answer_type|as_crispy_field }}
      <br>
      <button type="submit" class="btn btn-primary">Add question</button>
    </div>
  </div>
</form>
<hr>

<h4>Your Form:</h4>
<ol>
  {% for question in questions %}
  <li><p>{{ question.question }}</p></li>
  {% endfor %}
</ol>
{% endblock %}
