{% extends 'base.html' %}
{% load static %}

   {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="Stylesheet" type="text/css" href="{% static 'offerts/index.css' %}">
    <title>{{ offert.position }} - details</title>
   {% endblock %}

  {% block body %}


    <h2> Details: </h2>
        <div id='offert-box'>
            <h1>{{ offert.position }}</h1>
            <hr>
            <p>Company: {{ offert.agency.company.name }}<br>
              Location: {{ offert.agency.country }}, {{offert.agency.location }}
            </p>
            <a href="{% url 'add:apply' %}"><button class="light-on-dark">APPLY</button></a>
        <div>

  {% endblock %}
