{% extends 'base.html' %}
{% load static %}

   {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <title>{{ offert.position }} - details</title>
   {% endblock %}

  {% block body %}

    <article class="media content-section">
    <img class="article-img" src="{{offert.agency.company.logo.url}}" alt="logo">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href='#'>{{ offert.agency.company.name }}</a>
              <small class="text-muted">{{offert.publication_date}}</small>
            </div>
            <h1><a class="article-title">{{ offert.position }}</a></h1>
            <hr>
            <p class="article-content">Location: {{ offert.agency.country }}, {{offert.agency.location }}</p>
            <p class="article-content">Duties: {{offert.duties}}</p>
            <p class="article-content">Salary: {{offert.min_salary}}-{{offert.max_salary}} zl</p>

            <a href="{% url 'add:apply' %}"><button type="button" class="btn btn-outline-primary">APPLY</button></a>
        <div>
    </article>
  {% endblock %}
