{% extends 'base.html' %}
{% load static %}

   {% block head %}
      <title> Portal Pracy </title>
   {% endblock %}

    {% block body %}
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
      <link rel="Stylesheet" type="text/css" href="{% static 'offerts/index.css' %}">
      <h1> Portal Pracy </h1>
      <hr>
      <h2> Oferty: </h2>
      {% if offert_list %}
        {% for offert in offert_list %}
          <div id='offert-box'>
            <h3> {{ offert.position }} </h3>
            <hr>
            <h4>Company: {{ offert.agency.company.name }}</h4>
            <h4>Localisation: {{ offert.agency.country }}, {{offert.agency.location }}</h4>
            <a href="{% url 'offerts:details' offert.id %}">
              <button class="button"> See more </button>
            </a>
            <br>
          </div>
          <br>
        {% endfor %}
      {% else %}
        <h3>No offerts available.</h3>
      {% endif %}

    {% endblock %}
