{% extends 'base.html' %}
{% load static %}

{% block head %}
<title> Portal Pracy </title>
{% endblock %}

{% block body %}
<link rel="Stylesheet" type="text/css" href="{% static 'offerts/index.css' %}">
<h1>View your offerts:</h1>
<hr>
{% if offerts %}
{% for offert in offerts %}
<article class="media content-section">
  <img class="article-img" src="{{offert.agency.company.logo.url}}" alt="logo">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href='#'>{{ offert.agency.company.name }}</a>
      <small class="text-muted">Location: {{ offert.agency.country }}, {{offert.agency.location }}</small>
    </div>
    <h2><a class="article-title">{{ offert.position }}</a></h2>
    <br>
    <a href="{% url 'offerts:offert_details' offert.id %}"><button type="button" class="btn btn-info mb-2 mr-1">View offert details</button></a>
    <a href="{% url 'manager:manager-replies' offert.id %}"><button type="button" class="btn btn-info mb-2">View applications</button></a>
    <br>
    <a href="{% url 'manager:manager-update' offert.id %}"><button type="button" class="btn btn-primary btn-sm mr-1">Update offert</button></a>
    <a href="{% url 'manager:manager-delete' offert.id %}"><button type="button" class="btn btn-danger btn-sm">Delete offert</button></a>

  </div>
</article>

{% endfor %}
{% else %}
<h3>No offerts available.</h3>
{% endif %}

{% endblock %}
