{% extends 'base.html' %}
{% load static %}

   {% block head %}
      <title> Portal Pracy </title>
   {% endblock %}

    {% block body %}
      <h1 class="mb-3">View replies for your offert: </h1>
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
      <link rel="Stylesheet" type="text/css" href="{% static 'offerts/index.css' %}">
      <hr>
      <h2> Replies: </h2>
      {% if applications %}
        {% for application in applications %}
        <article class="media content-section">>
            <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2">Author: {{ application.first_name }}</a>
                  <a class="mr-2">{{ application.last_name}}</a>
                </div>
                <a class="mr-2">Position: {{ application.offert.position}}</a> <br>
                <a class="mr-2">Message: {{ application.message}}</a>
                <br>
                <a href="{% url 'manager:manager-reply-details' application.id %}"><button type="button" class="btn btn-outline-primary">See details</button></a>
            <div>
        </article>
        {% endfor %}
      {% else %}
        <h3>No replies.</h3>
      {% endif %}

    {% endblock %}
