{% extends 'base.html' %}
{% load static %}

   {% block head %}
      <title> Portal Pracy </title>
   {% endblock %}

    {% block body %}
      <h1 class="mb-3">View replies for your offert: </h1>
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
      <link rel="Stylesheet" type="text/css" href="{% static 'offerts/index.css' %}">
      <hr>
      {% if applications %}
        {% for application in applications %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2"> <strong>Author: </strong>{{ application.first_name }} {{ application.last_name}}</a>
                </div>
                <hr>
                <a class="mr-2"><strong> Message: </strong> {{ application.message}}</a>
                <br> <br>
                <a href="{% url 'manager:manager-reply-details' application.id %}"><button type="button" class="btn btn-info">View full application</button></a>
            <div>
        </article>
        {% endfor %}
      {% else %}
        <h3>No replies.</h3>
      {% endif %}

    {% endblock %}
